<router-outlet />
<h2>Botones Normal</h2>
<form (ngSubmit)="onSubmit()" class="botones-form">
  <boton-rh
    *ngFor="let btn of botones"
    [etiqueta]="btn.etiqueta"
    [color]="btn.color"
    (clicked)="ejecutarAccion(btn.etiqueta)"
  >
  </boton-rh>
</form>

<h2>Botones Delineados</h2>
<form class="botones-form">
  <boton-rh
    *ngFor="let btn of botonesDelineados"
    [etiqueta]="btn.etiqueta"
    [color]="btn.color"
    (clicked)="ejecutarAccion(btn.etiqueta)"
  ></boton-rh>
</form>

<h2>Botones Redondeados</h2>
<form class="botones-form">
  <boton-rh
    *ngFor="let btn of botoneredondeado"
    [etiqueta]="btn.etiqueta"
    [color]="btn.color"
    [redondeado]="true"
    (clicked)="ejecutarAccion(btn.etiqueta)"
  ></boton-rh>
</form>

