<router-outlet />
<h2>Botones Normal</h2>
<form (ngSubmit)="onSubmit()" class="botones-form">
  <boton-rh
    *ngFor="let btn of botones"
    [etiqueta]="btn.etiqueta"
    [color]="btn.color"
    (click)="ejecutarAccion(btn.etiqueta)"
  >
  </boton-rh>
</form>

<h2>Botones Delineados</h2>
<form class="botones-form">
  <boton-rh
    *ngFor="let btn of botonesDelineados"
    [etiqueta]="btn.etiqueta"
    [color]="btn.color"
    (click)="ejecutarAccion(btn.etiqueta)"
  ></boton-rh>
</form>

<h2>Botones Redondeados</h2>
<form class="botones-form">
  <boton-rh
    *ngFor="let btn of botoneredondeado"
    [etiqueta]="btn.etiqueta"
    [color]="btn.color"
    [redondeado]="true"
    (click)="ejecutarAccion(btn.etiqueta)"
  ></boton-rh>
</form>

<h2>Botones de Texto Elevado</h2>
<form class="botones-form">
  <boton-rh
    *ngFor="let btn of botonesTextoElevado"
    [etiqueta]="btn.etiqueta"
    [color]="btn.color"
    [textoElevado]="true"
    (click)="ejecutarAccion(btn.etiqueta)"
  ></boton-rh>
</form>

<h2>Botones Solo Icono</h2>
<form class="botones-form">
  <boton-rh
    *ngFor="let btn of botonesSoloIcono"
    [color]="btn.color"
    [soloIcono]="true"
    [icono]="btn.icono"
    (click)="ejecutarAccion(btn.icono || 'icono')"
  ></boton-rh>
</form>



